# Node
node_modules/
build/
dist/
.env
.env.*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
ENV/
*.egg-info/
dist/
build/

# FastAPI
instance/
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
*.sqlite

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test
.tox/
.pytest_cache/

# Others
*.swp
*.swo
.idea/
